:root {
  --color-primary: #7ed56f;
  --color-primary-light: #55c57a;
  --color-primary-dark: #28b485;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-blue-dark: #1e3c72;
  --color-blue-light: #019ca9;
  --color-pink-light: #ff9068;
  --color-pink-dark: #fd746c;
  --color-black: black;
  --color-primary-green: #55efc4;
  --color-white: #fff;
  --color-primary-gray1: #f7f7f7;
  --color-primary-gray2: #eee;
  --color-primary-gray3: #999;
  --color-primary-gray4: #333;
  --color-primary-gradient1: #00c9ff;
  --color-primary-gradient2: #92fe9d;
  --color-primary-blue: #283e51;
  --color-primary-blue-light: #4b79a1;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

nav {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem; }
  @media only screen and (max-width: 56.25em) {
    nav {
      padding: 2rem 4rem; } }

.logo-heading {
  font-size: 2rem;
  font-weight: 700; }

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px; }
  @media only screen and (max-width: 56.25em) {
    nav ul {
      display: none; } }

.nav-items a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 1rem; }

.find-btn {
  border: none;
  background: none;
  color: white;
  background-color: var(--color-blue-light);
  padding: 1rem 3rem;
  border-radius: 40px; }

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color: var(--color-black);
  display: none;
  align-items: center;
  transform: translateY(-1rem); }
  @media only screen and (max-width: 56.25em) {
    #menu-icon {
      display: block; } }

#slideout-menu {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 6.5rem;
  width: 100%;
  text-align: center;
  opacity: 0;
  pointer-events: none; }
  @media only screen and (max-width: 56.25em) {
    #slideout-menu {
      display: block; } }

#slideout-menu ul {
  list-style: none;
  padding: 0 32px; }

#slideout-menu ul li {
  padding: 8px; }

#slideout-menu a {
  font-size: 2rem;
  color: var(--color-white);
  text-decoration: none; }

.hero {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background-image: url(/img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0 240px 50%/60px; }

.hero h2 {
  font-size: 4rem;
  width: 45%;
  text-align: center; }
  @media only screen and (max-width: 68.75em) {
    .hero h2 {
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .hero h2 {
      width: 100%;
      font-size: 3rem; } }

.search {
  width: 50%;
  height: 5.5rem;
  background-color: var(--color-white);
  margin: 0 auto;
  border-radius: 50px;
  transform: translateY(-3rem);
  box-shadow: 0 1rem 5rem rgba(131, 131, 131, 0.589); }
  @media only screen and (max-width: 68.75em) {
    .search {
      height: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .search {
      width: 80%; } }

.search-form {
  display: flex;
  justify-content: space-between; }

.search-form input {
  background: none;
  border: none;
  padding: 2rem 4rem;
  width: 60%;
  outline: none; }

input:focus {
  outline: none; }

input::placeholder {
  font-size: 2rem; }

.search-form button {
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  width: 30%;
  padding: 0.7rem 0;
  background-color: var(--color-blue-light);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer; }

.cards {
  padding: 10rem 20rem;
  background-color: #f3fcfe;
  margin-top: -6rem; }
  @media only screen and (max-width: 68.75em) {
    .cards {
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .cards {
      padding: 7rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .cards {
      padding: 7rem 2rem; } }

.card-content {
  text-align: center;
  width: 70%;
  margin: 0 auto; }

.cards-heading {
  font-size: 3rem; }

.cards-para {
  font-size: 1.5rem; }

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .card {
      flex-direction: column; } }

.card-inner {
  flex: 30%;
  padding: 15rem 2rem;
  margin: 0 1rem;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 5rem #ececec; }
  @media only screen and (max-width: 37.5em) {
    .card-inner {
      flex: 100%;
      min-width: 70%;
      margin: 1rem 0; } }

.card-1,
.card-2,
.card-3 {
  display: flex;
  justify-content: center;
  align-items: center; }

.card-heading {
  font-size: 2rem;
  width: 60%;
  text-align: center; }
